[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/sdl2"]
	path = dependencies/sdl2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.4
